<form method="post" action='/pokemon/add_new'>
  <input type="text" name="pokemon[name]" placeholder="Name" />
  <input type="text" name="pokemon[poke_type]" placeholder="Type" />
  <input type="text" name="pokemon[cp]" placeholder="Combat Power" />
  <input type="submit" value="Submit" />
</form>
